.twoColumnLayout div {
  border-radius: 10px;
}
.twoColumnLayout {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.twoColumnTempInfo {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 5px;
}

.column1 {
  flex: 3;
  padding: 50px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.tempInfoCol1 p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5em;
}

.city {
  background-color: #000;
  color: #fff;
  text-align: center;
  align-content: center;
  height: 125px;
  padding-left: 20px;
  padding-right: 20px;
}
.city h1 {
  font-size: 3em;
}

.tempInfoCol1 {
  flex: 1;
  background-color: turquoise;
  text-align: center;
  color: #fff;
}

.column2 {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  background-color: beige;
}

.tempInfoCol2 {
  flex: 1;
  background-color: lightgreen;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherIcon {
  height: 85px;
}

.tempInfoCol2 p {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 1.6em;
  text-align: center;
}
.tempInfoCol2 img {
  align-content: center;
}

.tempInfoCol1 .smallText {
  font-size: small;
  font-weight: 200;
}
.row .smallText {
  font-size: small;
  font-weight: 200;
}
.tempInfoCol1 .bigText {
  font-size: 2em;
  font-weight: 900;
}

.tempInfoCol2 .smallText {
  font-size: small;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 0;
}

.row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  padding: 24px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}

.forcastText {
  font-size: 1.2em;
  font-weight: 700;
}

.cell p {
  margin-top: 0px;
  margin-bottom: 0px;
}
